@model  ViewModel.NotesVM

<div id="cd-Notes">
    <input type="hidden" id="hdnEditNoteId" />
    <!-- sign up form -->
    <form class="cd-form" id="cd-form-Notes">
        @Html.AntiForgeryToken()
        <p class="fieldset">
            <label class="image-replace cd-email">Date</label>
            @Html.TextBoxFor(x => x.CreatedDate, new { @class = "full-width has-padding has-border", placeholder = "Date" })
            @Html.ValidationMessageFor(x => x.CreatedDate, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-email" for="txtSubject">Subject</label>
            @Html.TextBoxFor(x => x.Subject, new { @class = "full-width has-padding has-border", placeholder = "Subject", autofocus = "autofocus" })
            @Html.ValidationMessageFor(x => x.Subject, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-email" for="txtNote">Note</label>
            @Html.TextAreaFor(x => x.NoteText, new { @class = "full-width has-padding has-border", placeholder = "Note", rows = "3" })
            @Html.ValidationMessageFor(x => x.NoteText, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <input class="full-width has-padding" id="btnAddNote" type="submit" value="Add/Edit Note">
            <span id="NotesSaveValidate"></span>
        </p>
    </form>
</div>