@model ViewModel.UserDetailsVM

<div id="cd-signup">
    <form class="cd-form" id="cd-form-SignUp">
        <p class="fieldset">
            <label class="image-replace cd-username" for="FirstName">
                First Name
            </label>
            @Html.TextBoxFor(x => x.FirstName, new { @class = "full-width has-padding has-border", placeholder = "First Name" })
            @Html.ValidationMessageFor(x => x.FirstName , null , new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-username" for="LastName">
                Last Name
            </label>
            @Html.TextBoxFor(x => x.LastName, new { @class = "full-width has-padding has-border", placeholder = "Last Name" })
            @Html.ValidationMessageFor(x => x.LastName, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-username" for="CountryId">
                Country
            </label>
            @Html.DropDownListFor(x => x.CountryId, new SelectList(Model.CountryList, "CountryId", "CountryName"), "Select Country", new { @class = "full-width has-padding has-border CountryList" })
            @Html.ValidationMessageFor(x => x.CountryId, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-email" for="Email">
                E-mail
            </label>
            @Html.TextBoxFor(x => x.SignUpEmail, new { @class = "full-width has-padding has-border", placeholder = "E-mail" })
            @Html.ValidationMessageFor(x => x.SignUpEmail, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-password" for="Password">
                Password
            </label>
            @Html.TextBoxFor(x => x.SignUpPassword, new { @class = "full-width has-padding has-border", placeholder = "Password" })
            <a href="#0" class="hide-password">Hide</a>
            @Html.ValidationMessageFor(x => x.SignUpPassword, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label for="accept-terms">
                By clicking Create account you agree to the <a href="/Home/GetTermsAndConditions" target="_blank">Terms And Conditions</a>
            </label>
        </p>
        <p class="fieldset">
            <input class="full-width has-padding" id="btnCrtAcct" type="submit" value="Create account">
        </p>
    </form>
</div>

