@model ViewModel.ChangePasswordVM

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{

}

<div class="Top-Content-Padding">
    <form class="cd-form" id="cd-form-ChangePass">
        @Html.AntiForgeryToken()
        <p class="fieldset">
            <label class="image-replace cd-password">Enter Old Password</label>
            @Html.TextBoxFor(x => x.OldPassword, new { @class = "full-width has-padding has-border", placeholder = "OldPassword" })
            @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            <label class="image-replace cd-password">Enter New Password</label>
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "full-width has-padding has-border", placeholder = "NewPassword" })
            @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "cd-error-message" })
        </p>
        <p class="fieldset">
            @*<input class="full-width has-padding" type="submit" value="Add Note">*@
            @*<button id="btnClose" class="full-width has-padding">Close</button>*@
            <button id="btnChangePassword" class="full-width has-padding btn btn-primary">Change Password</button>
            <span id="ChangePasswordValidate"></span>
        </p>
    </form>
</div>


@section scripts
    {
@*<script src="~/Scripts/CustomJSScripts/jsChangePassword.js"></script>*@
    @Scripts.Render("~/ScriptBundle/ChangePassword")
}
